@mixin btn-default {
    display: block;
    width: 100%;
    padding: 0.8rem;
    color: var(--contrast-color-010);
    font-weight: bold;
    background-color: var(--color-primary);
    border-radius: var(--border-radius-md);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        background-color: var(--color-primary-highlight);
    }
}

@mixin dashboard-container {
    background-color: var(--default-color-030);
    border-radius: var(--border-radius-md);
    padding: 1.6rem;

    @media screen and (max-width: 768px) {
        padding: 0.8rem;
    }
}

@mixin text-overflow-ellipsis {
    text-wrap: nowrap;
    word-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
