:root {
    --color-primary: #3e57bb;
    --color-primary-highlight: #1c3ffd;
    --color-dark-010: #04060c;
    --color-dark-020: #080c19;
    --color-dark-030: #0c1125;
    --color-light-010: #e5e9f6;
    --color-light-020: #d8ddf1;
    --color-light-030: #ccd2ed;

    --default-color-010: var(--color-dark-010);
    --default-color-020: var(--color-dark-020);
    --default-color-030: var(--color-dark-030);
    --contrast-color-010: var(--color-light-010);
    --contrast-color-020: var(--color-light-020);
    --contrast-color-030: var(--color-light-030);

    --border-radius-md: 0.8rem;
    --border-radius-lg: 1.6rem;
}
