:root {
    --color-primary: #1c3ffd;
    --color-secondary: #fdda1c;
    --color-dark-010: #03071c;
    --color-dark-020: #060e38;
    --color-dark-030: #091554;
    --color-light-010: #e6eaff;
    --color-light-020: #cdd4ff;
    --color-light-030: #b3bffe;

    --background-color-010: var(--color-dark-010);
    --background-color-020: var(--color-dark-020);
    --background-color-030: var(--color-dark-030);
    --text-color-010: var(--color-light-010);
    --text-color-020: var(--color-light-020);
    --text-color-030: var(--color-light-030);
}
