@import "../../../styles/helpers/mixins";

.initialScreen {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;

    .formContainer {
        background-color: var(--background-color-020);
        padding: 3.2rem 2rem;
        border-radius: 2rem;
        width: 100%;
        max-width: 640px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            width: 25vw;
            max-width: 120px;
            margin: 1.2rem 0;
        }

        h2 {
            font-size: 2.4rem;
            margin: 2rem 0;
            text-align: center;
            line-height: 3.2rem;
            text-wrap: nowrap;

            @media screen and (max-width: 480px) {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }

        form {
            width: 100%;

            .inputContainer {
                @include input-custom;
                margin-bottom: 2rem;
            }

            button {
                @include btn-default;
            }
        }
    }
}
