.value-and-metric {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;

    &__value {
        position: relative;
        line-height: 1em;
        font-weight: bold;
    }

    &__metric {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        line-height: 1em;
        font-size: 0.4em;
        font-weight: initial;

        &[class*="top"] {
            top: 0;
            transform: translate(50%, -50%);
        }

        &[class*="bottom"] {
            bottom: 0;
            transform: translate(50%, 100%);
        }
    }
}
