@import "../../../styles/helpers/mixins";

.headerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    padding: 0.8rem 1.6rem;

    form {
        width: 100%;

        .inputContainer {
            @include input-custom;
            width: 100%;
            max-width: 480px;

            label {
                display: flex;
                align-items: center;
                gap: 0.4rem;
                line-height: 0.5rem;

                &:before {
                    background: var(--background-color-010);
                }
            }
        }
    }
}
