@import "../../../styles/helpers/mixins";

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
    padding: 1.6rem;

    .form {
        width: 100%;

        input {
            max-width: 480px;
            background-color: var(--default-color-030);
            border: 1px solid var(--default-color-030);

            &:focus {
                border: 1px solid var(--color-primary-highlight);
            }
        }
    }
}
